@if (isTestprojectSelected) {
  <xc-panel xc-form #detailForm>
    <header>
      <h2 xc-i18n>Project Details</h2>
      <div class="items-right">
        <xc-button [busy]="exportStarted" [disabled]="exportStarted">
          <xc-icon
            xc-icon-name="file" color="normal" xc-icon-style="xds"
            (click)="exportTestProject()"
            xc-i18n
            >
                    Export Test Project
                </xc-icon>
        </xc-button>
      </div>
    </header>
    <section class="stretch scroll">
      <xc-form-input label="Name" xc-i18n readonly [value]="testProjectDetails.name"></xc-form-input>
      <xc-form-input label="Version" xc-i18n readonly [value]="testProjectDetails.version"></xc-form-input>
      <xc-form-textarea label="Description" xc-i18n [(value)]="testProjectDetails.description"></xc-form-textarea>
    </section>
    <footer>
      <div class="items-right">
        <xc-button>
          <xc-icon xc-icon-name="delete" xc-i18n (click)="delete()">Delete Test Project</xc-icon>
        </xc-button>
        <xc-button>
          <xc-icon xc-icon-name="copy" xc-i18n (click)="duplicate()">Duplicate Test Project</xc-icon>
        </xc-button>
        <xc-button xc-i18n (click)="reset()">Undo Changes</xc-button>
        <xc-button xc-i18n (click)="save()" [disabled]="saving" [busy]="saving">Save Changes</xc-button>
      </div>
    </footer>
  </xc-panel>
}