<xc-dialog-wrapper>
  <ng-container header i18n>Create Test Data List</ng-container>
  <section content xc-form #form="xc-form">

    @if (note) {
    <note-component [note]="note"></note-component>
    }

    <xc-form-input label="Name" xc-i18n [(value)]="testData.name" xc-form-validator-required></xc-form-input>
    <xc-form-textarea label="Description" xc-i18n [(value)]="testData.description"></xc-form-textarea>

    <xc-form-autocomplete label="Test Data Object" [placeholder]="testDataObjectPlaceHolder"
      [(xc-form-autocomplete-option)]="testDataDefinitionDataWrapper.value"
      [xc-form-autocomplete-options]="testDataDefinitionDataWrapper.values" xc-form-autocomplete-showtooltip
      xc-form-field-suffix="clear" xc-form-autocomplete-fulltextsearch xc-form-validator-required
      xc-i18n></xc-form-autocomplete>

    <xc-checkbox [(checked)]="testData.oneTimeTestData" label="One Time Test Data" xc-i18n></xc-checkbox>
  </section>
  <ng-container footer>
    <xc-button (click)="dismiss()" xc-i18n>Cancel</xc-button>
    <xc-button (click)="save()" [disabled]="form.invalid || saving" [busy]="saving" xc-i18n>Create</xc-button>
  </ng-container>
</xc-dialog-wrapper>