@if (isTestprojectSelected) {
  <xc-master-detail [xc-master-detail-opened]="counterEdit !== null">
    <xc-panel master>
      <header>
        <h2 xc-i18n>Counters</h2>
        <div class="items-right">
          <xc-icon-button  (click)="refresh()" xc-icon-name="reload" color="normal" xc-icon-style="xds"
          xc-tooltip="Refresh" xc-i18n></xc-icon-button>
          <xc-icon-button (click)="createCounter()" xc-icon-name="add" color="normal" xc-icon-style="xds"
          xc-tooltip="Add Counter" xc-i18n></xc-icon-button>
        </div>
      </header>
      <section class="stretch scroll">
        <xc-table [xc-table-datasource]="dsCounters" xc-table-allowsort xc-table-allowfilter xc-table-allowselect
        xc-table-lazyupdate></xc-table>
      </section>
    </xc-panel>
    @if (counterEdit) {
      <xc-panel detail>
        <section class="stretch scroll" xc-form>
          <xc-form-input label="Name" xc-i18n
            [(value)]="counterEdit.name"
            xc-form-validator-required
          ></xc-form-input>
          <xc-form-input label="Next Value" xc-i18n
            [(value)]="counterEdit.nextValue"
            xc-form-validator-required
            xc-form-validator-number
            xc-form-validator-maxvalue="9223372036854775807"
          ></xc-form-input>
          <xc-form-input label="Increment" xc-i18n
            [(value)]="counterEdit.increment"
            xc-form-validator-required
            xc-form-validator-number
          ></xc-form-input>
          <xc-form-textarea label="Description" xc-i18n
            [(value)]="counterEdit.description"
          ></xc-form-textarea>
        </section>
        <footer>
          <div class="items-left">
            <xc-button (click)="close()" xc-i18n>Cancel</xc-button>
          </div>
          <div class="items-right">
            <xc-button (click)="updateCounter()" [disabled]="invalid" color="primary" xc-i18n>Save</xc-button>
          </div>
        </footer>
      </xc-panel>
    }
  </xc-master-detail>
}