<xc-dialog-wrapper>
    <ng-container header xc-i18n>Add Test Data Instance</ng-container>
    <section content>
        <section>
            <xc-form-label>Prototype</xc-form-label>
            <xc-table
                [xc-table-datasource]="dataSource"
                xc-table-allowselect
                xc-table-lazyupdate
                xc-i18n
            ></xc-table>
        </section>
        <xc-form-input
            label="Name"
            xc-i18n
            [(value)]="name"
        ></xc-form-input>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-i18n>Cancel</xc-button>
        <xc-button (click)="ok()" [disabled]="!valid" xc-i18n>Ok</xc-button>
    </ng-container>
</xc-dialog-wrapper>