<xc-dialog-wrapper>
  <ng-container header xc-i18n>Choose Test Data</ng-container>
  <ng-container content>
    @if (note) {
      <note-component [note]="note" />
    }
    <xc-table [xc-table-datasource]="dataSource"
      xc-table-allowsort
      xc-table-allowfilter
      xc-table-allowselect
      xc-table-multiselect
      xc-table-cellselect
      xc-table-lazyupdate
     />
  </ng-container>
  <ng-container footer>
    <xc-button (click)="dismiss()" xc-i18n>Cancel</xc-button>
    <xc-button (click)="choose()" [disabled]="dataSource.selectionModel.isEmpty()" xc-i18n>Choose</xc-button>
  </ng-container>
</xc-dialog-wrapper>