@if (isTestprojectSelected) {
<xc-master-detail [xc-master-detail-opened]="testCase">
  <xc-panel master>
    <header>
      <h1 xc-i18n>Test Cases</h1>
      <div class="items-right">
        <xc-button [busy]="exportStarted" [disabled]="exportStarted" (click)="exportTestCase()">
          <xc-icon xc-icon-name="file" xc-i18n>Export</xc-icon>
        </xc-button>
        <xc-icon-button (click)="refresh()" xc-icon-name="reload" color="normal" xc-icon-style="xds"
          xc-tooltip="Refresh" xc-i18n></xc-icon-button>
        <xc-icon-button (click)="createTestCase()" [disabled]="!validTestProject" xc-icon-name="add" color="normal"
          xc-icon-style="xds" xc-tooltip="Add Test Case" xc-i18n></xc-icon-button>
      </div>
    </header>
    <section class="stretch scroll">
      <xc-table [xc-table-datasource]="dsTestCases" xc-table-allowsort xc-table-allowfilter xc-table-allowselect
        xc-table-lazyupdate xc-table-multiselect xc-i18n></xc-table>
    </section>
    <footer>
      <xc-button (click)="deleteSelected()" [disabled]="dsTestCases.selectionModel.isEmpty()" class="items-right"
        xc-i18n>Delete</xc-button>
    </footer>
  </xc-panel>
  <xc-panel detail>
    @if (testCase) {
    <header>
      <h2>{{testCaseEntry.name}}</h2>
      <span class="meta-info">
        <span class="test-case-author" xc-i18n>Author</span>
        <span>{{testCaseEntry.author}}</span>
        <span class="test-case-id" xc-i18n>ID</span>
        <span>{{testCaseEntry.iD}}</span>
      </span>
    </header>
    }
    @if (testCaseEntry) {
    <section class="stretch scroll" xc-form>
      <section>
        <xc-form-textarea label="Description" [(value)]="testCaseEntry.description" xc-form-textarea-lines="10"
          xc-form-field-indicatechanges xc-form-field-compact xc-i18n></xc-form-textarea>
      </section>
      <section>
        <xc-form-label xc-i18n>Execution</xc-form-label>
        <div class="items-row">
          <xc-button (click)="startTestCase()" [busy]="startOrderBusy" [disabled]="startOrderBusy">
            <xc-icon xc-icon-name="arrowright" xc-i18n>Start Test Case</xc-icon>
          </xc-button>
          <xc-button (click)="manageExecutionDetails()" [disabled]="!(testCase?.testProcessReference)">
            <xc-icon xc-icon-name="settings" xc-i18n>Manage Execution Details</xc-icon>
          </xc-button>
        </div>
        @if (testCaseOrderId) {
        <div class="items-row test-case-result">
          <label class="order-id">Order Id: {{testCaseOrderId}}</label>
          <xc-button (click)="openAudit(testCaseOrderId)" [disabled]="!testCaseOrderId" xc-i18n>Show Details</xc-button>
        </div>
        }
      </section>
      <section class="items-row">
        <xc-form-input label="Priority" xc-i18n [(value)]="testCaseEntry.priorityDataWrapper.value"
          xc-form-validator-number xc-form-validator-minvalue="0" xc-form-validator-maxvalue="10"
          xc-form-field-indicatechanges xc-form-field-compact></xc-form-input>
        <xc-form-input label="Responsible User" xc-i18n [(value)]="testCaseEntry.responsibleUser"
          xc-form-field-indicatechanges xc-form-field-compact>
        </xc-form-input>
      </section>
      <section>
        <xc-form-autocomplete label="Type" xc-i18n [(xc-form-autocomplete-option)]="testCaseEntry.typeDataWrapper.value"
          [xc-form-autocomplete-options]="testCaseEntry.typeDataWrapper.values" xc-form-autocomplete-asdropdown
          xc-form-field-suffix="clear" xc-form-autocomplete-fulltextsearch xc-form-field-indicatechanges
          xc-form-field-compact></xc-form-autocomplete>
      </section>
      @if (testCaseEntry.isRate()) {
      <section class="items-row">
        <xc-form-input label="Rate [Hz]" xc-i18n
          [(value)]="testCaseEntry.rateDataWrapper.value" xc-form-validator-number="float" xc-form-field-indicatechanges
          xc-form-field-compact></xc-form-input>
        <xc-form-input label="Duration [sec]" xc-i18n
          [(value)]="testCaseEntry.rateDurationDataWrapper.value" xc-form-validator-number xc-form-field-indicatechanges
          xc-form-field-compact></xc-form-input>
      </section>
      }
      @if (testCaseEntry.isLoad()) {
      <section class="items-row">
        <xc-form-input label="Load" xc-i18n
          [(value)]="testCaseEntry.loadDataWrapper.value" xc-form-validator-number xc-form-field-indicatechanges
          xc-form-field-compact></xc-form-input>
        <xc-form-input label="Count" xc-i18n
          [(value)]="testCaseEntry.loadCount" xc-form-validator-number xc-form-field-indicatechanges
          xc-form-field-compact></xc-form-input>
      </section>
      }
      <section>
        <xc-form-label xc-i18n>Test Data Selectors</xc-form-label>
        <xc-table [xc-table-datasource]="dsTestDataSelectors" xc-table-allowselect xc-table-lazyupdate>
        </xc-table>
        <footer class="items-right">
          <xc-button (click)="deleteTestDataSelector()" [disabled]="dsTestDataSelectors.selectionModel.isEmpty()"
            xc-i18n>Delete</xc-button>
          <xc-button (click)="addTestDataSelector()" xc-i18n>Add</xc-button>
        </footer>
      </section>
      @if (testCase?.testDateSelector) {
      <xc-panel>
        <header>
          <h2 xc-i18n>Untyped Selectors (Deprecated)</h2>
        </header>
        <section>
          <xc-form-input label="Selector 1" xc-i18n [(value)]="testCase?.testDateSelector.selector1"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 2" xc-i18n [(value)]="testCase?.testDateSelector.selector2"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 3" xc-i18n [(value)]="testCase?.testDateSelector.selector3"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 4" xc-i18n [(value)]="testCase?.testDateSelector.selector4"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 5" xc-i18n [(value)]="testCase?.testDateSelector.selector5"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 6" xc-i18n [(value)]="testCase?.testDateSelector.selector6"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 7" xc-i18n [(value)]="testCase?.testDateSelector.selector7"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 8" xc-i18n [(value)]="testCase?.testDateSelector.selector8"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 9" xc-i18n [(value)]="testCase?.testDateSelector.selector9"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 10" xc-i18n [(value)]="testCase?.testDateSelector.selector10"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 11" xc-i18n [(value)]="testCase?.testDateSelector.selector11"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 12" xc-i18n [(value)]="testCase?.testDateSelector.selector12"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 13" xc-i18n [(value)]="testCase?.testDateSelector.selector13"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 14" xc-i18n [(value)]="testCase?.testDateSelector.selector14"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 15" xc-i18n [(value)]="testCase?.testDateSelector.selector15"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 16" xc-i18n [(value)]="testCase?.testDateSelector.selector16"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 17" xc-i18n [(value)]="testCase?.testDateSelector.selector17"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 18" xc-i18n [(value)]="testCase?.testDateSelector.selector18"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 19" xc-i18n [(value)]="testCase?.testDateSelector.selector19"
            xc-form-field-compact></xc-form-input>
          <xc-form-input label="Selector 20" xc-i18n [(value)]="testCase?.testDateSelector.selector20"
            xc-form-field-compact></xc-form-input>
        </section>
      </xc-panel>
      }
    </section>
    }
    <footer>
      <div class="items-left">
        <xc-button (click)="close()" xc-i18n>Cancel</xc-button>
      </div>
      <div class="items-right">
        <xc-button (click)="saveTestCase()" color="primary" xc-i18n>Save</xc-button>
      </div>
    </footer>
  </xc-panel>
</xc-master-detail>
}